<strong>Olá, {{ name }}</strong>
<p>A sua pergunta foi respondida:</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />

  <br />
  <small>
    Para mais informações.
  </small>
</p>
